/* Form Styling */
input.form-submit,
input.form-submit:hover,
input.form-submit:active,
input.form-submit:focus,
a.button,
a.button:hover,
a.button:active,
a.button:focus {
  /* Reset border radius */
  -webkit-border-radius: 0;
  border-radius: 0;

  font-weight: normal;
  color: #fff;

  background: #8DC63F;
  padding: 3px 15px;
  border: 1px solid #7A9E49;
  border-color: #7A9E49 #7E9163 #739446 #768B5A;

  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.33, #8EC63F),
          color-stop(1, #79AC37)
  );
  background-image: -webkit-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:    -moz-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:     -ms-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:      -o-linear-gradient(top, #8EC63F 33%, #79AC37 100%);
  background-image:         linear-gradient(top, #8EC63F 33%, #79AC37 100%);
}

input.form-submit:active,
a.button:active {
  -webkit-transform: scale(0.99, 0.99) translateY(1px);
  -moz-transform: scale(0.99, 0.99) translateY(1px);
  -ms-transform: scale(0.99, 0.99) translateY(1px);
  -o-transform: scale(0.99, 0.99) translateY(1px);
  transform: scale(0.99, 0.99) translateY(1px);
}

select {
  padding: .3em .4em .2em .5em;
  max-width: 100%;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  background: #fff;
  color: #333;
  border-radius: 2px;
  background: #fcfcfa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  font-size: 1em;
  color: #595959;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
select:focus {
  border-color: #40b6ff;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px #40b6ff;
  background-color: #fff;
}
