.view-result-header {
  color: $figure-caption-color;
  font-size: $figure-caption-font-size;
  text-align: right;
  margin-bottom: map_get(map_get($spacers, 2), y);
}

/* Fields */
.field {
  margin-bottom: $spacer-y;
}
.field-title {
  margin-bottom: 0;
  font-weight: bold;
}

.drag-area {
  min-height: 10px;
  padding: 20px;
}

.drag-area.show {
  border: 1px blue dotted;
}

//nav.sidebar {
//  flex: 0 1 auto;
//  position: absolute;
//  top:0;
//  right:0;
//  width: 40px;
//}
