.view-result-header {
  color: $figure-caption-color;
  font-size: $figure-caption-font-size;
  text-align: right;
  margin-bottom: map_get(map_get($spacers, 2), y);
}

#block-contacts-theme-local-actions {
  top: 0;
  right: 0;
  position: absolute;
  margin-right: map_get($content-padding-parts, x);
}

/* Fields */
.field {
  margin-bottom: $spacer-y;
}
.field-title {
  margin-bottom: 0;
  font-weight: bold;
}
