$brand-primary: #5ec0d0 !default;

$app-breakpoint: lg;
$sidebar-widths: (
  lg: 300px,
  xl: 400px
);

@import "../node_modules/bootstrap/scss/variables";

$body-bg: $gray-lightest;
$inverse-bg: $gray-light;

$content-padding-parts: (
  y: map_get(map_get($spacers, 3), y),
  x: map_get(map_get($spacers, 3), x)
);
$content-padding: map_get($content-padding-parts, y) map_get($content-padding-parts, x);

// Header image is 100x100 px + 1px border + $thumbnail-padding.
$header-image-size: (
  y: unquote("102px + #{$thumbnail-padding * 2}"),
  x: unquote("102px + #{$thumbnail-padding * 2}")
);

$inverse-link-color: $white !default;
$inverse-link-hover-color: darken($inverse-link-color, 15%) !default;
