@import "../variables";
@import "../mixins";

.contacts-tabs-content {
  padding: $content-padding;
  background: $nav-tabs-active-link-hover-bg;
  border: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-top-width: 0;

  @include flex-fill(y, 300px);

  @include clearfix();

  &:after {
    padding-bottom: map_get($content-padding-parts, y);
  }
}

.contact-summary {
  padding-bottom: 0;
  margin-bottom: $spacer-y;
}
