@import "../variables";
@import "../mixins";


.drag-area {
  min-height: 10px;
  padding: 20px;
}

.drag-area.show {
  border: 3px lightblue dashed;
}

.btn.dnd-manage,
.btn.dnd-manage:hover {
  background-color: #636c72;
  border-color: #636c72;
  position: absolute;
  left: -65px;
  box-shadow: none !important;
}

.contacts-ajax-tabs {
  &:not(.editing) {
    .add-tab {
      display: none;
    }
  }

  .add-tab .nav-link {
    background: lightblue;
    color: #fff;
    font-weight: bold;
  }

  &.editing {
    .nav-link:hover,
    .nav-link {
      border: 1px dashed lightblue;
      margin: 0 5px;
      border-bottom: 0;

      &:before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 30px;
        background: url(https://cdn4.iconfinder.com/data/icons/cursors-gestures/100/cursor_3-128.png) no-repeat;
        background-size: 20px;
        cursor: move;
        margin-bottom: -5px;
      }
      &:after {
        content: '';
        display: inline-block;
        height: 20px;
        width: 30px;
        background: url(https://cdn1.iconfinder.com/data/icons/kuru-interface/100/cog_thin_convert-128.png) no-repeat 10px 0px;
        background-size: 20px;
        cursor: move;
        margin-bottom: -5px;
      }
    }
  }

  .nav-item.add-tab .nav-link:before,
  .nav-item.add-tab .nav-link:after {
    display: none;
  }


  .tab-area-placeholder {
    width: 40px;
    max-height: 35px;
    line-height: 1.2em;
    background-color: beige;
    margin-bottom: 20px;
    border-color: blue !important;
    
    &:before,
    &:after {
      background-image: none !important;
    }
  }
}

.list-group.collapse {
  display: none;
}

.drag-area.show.highlighted {
  border: 3px blue dashed;
  background: beige;
}
body .layout-sidebar-second {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inherit;
  }

  .card {
    margin-bottom: 20px;
  }

  .facet-toggle {
    margin-bottom: 20px;
  }

  .add-button {
    margin-bottom: 10px;
  }

  .draggable .page-content {
    display: none;
  }

  .draggable .delete-draggable {
    display: none;
  }
}


.layout-content .draggable .menu-content {
  display: none;
}

.draggable .menu-content .card-header:before,
.drag-area .draggable .card-header:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 30px;
  background: url(https://cdn4.iconfinder.com/data/icons/cursors-gestures/100/cursor_3-128.png) no-repeat -2px -2px;
  background-size: 25px;
  cursor: move;
}

.draggable {
  &.active h2:after {
    //content: '[delete]'
  }

  &:not(.draggable-active) .drag-meta {
    display: none;
  }

  .display-select {
    display:none;
  }

  .card-header.editing .display-select {
    display: inherit;
  }

  .card-header input[disabled] {
    max-width: 140px;
    background: none;
    border: 0;
    font-weight: bold;
  }

  .delete-draggable,
  .edit-draggable {
    background: url(https://cdn1.iconfinder.com/data/icons/kuru-interface/100/cog_thin_convert-128.png) no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
  }

  .card-header.editing .edit-draggable {
    background-image: url(https://cdn3.iconfinder.com/data/icons/lineo-media/100/floppy_disk-128.png);
  }

  .delete-draggable {
    background-image: url(https://cdn2.iconfinder.com/data/icons/social-productivity-line-art-2/128/trash-128.png);
  }

  .menu-content .card-header:before {
    height: 15px;
    width: 25px;
    background-position: 0px -2px;
    background-size: 20px;
    margin-bottom: -2px;
  }
}

.drag-area-placeholder {
  height: 40px;
  line-height: 1.2em;
  background-color: #ccc;
  margin-bottom: 20px;
}

.draggable-active {
  max-height: 200px;
  background-color: #f5f5f5;
  overflow: hidden;
  margin-bottom: 20px;

  .field {
    height: 10px;
    width: 93%;
    background-color: #ccc;
    font-size: 0;
    padding: 0;
    margin: 15px auto;
    overflow: hidden;

    div, span, h6 {
      display: none;
    }
  }

}