{{ messages }}

{% if manage_mode %}
  <div class="card">
    <div class="card-block">
      {% if header.hats %}
        <div class="card-text small">
          This tab only shows for users with the following hats:&nbsp;
          {{ header.hats }}
        </div>
      {% endif %}
      <div class="card-text small">
        <a target="_blank" href="/admin/structure/contact-tabs/{{ tab }}/edit">Tab Settings</a>
      </div>
    </div>
  </div>
  <br>
{% endif %}

{{ content }}
