<div class="contact-summary clearfix">
  <small class="contact-id">ID: {{ user.id }}</small>
  {% if email %}<div class="contact-email">{{ email }}</div>{% endif %}
  {% if phone %}<div class="contact-phone">{{ phone }}</div>{% endif %}
</div>
