{{ content.messages }}
<div {{ attributes.addClass('row') }}>
  <div class="drag-area col-md-6">
    {{ content.left }}
  </div>
  <div class="drag-area col-md-6">
    {{ content.right }}
  </div>
</div>
