{{ content.messages }}
<div {{ attributes.addClass('dash-summary') }}>
<div class="drag-area dash-left">
      {{ content.left }}
  </div>
  <div class="drag-area dash-right">
      {{ content.right }}
  </div>
</div>

