{% include directory ~ '/templates/parts/header.html.twig' %}
{%
set classes = [
  'layout-main',
]
%}
<main{{ attributes.addClass(classes).setAttribute('role', 'main') }}>
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {{ page.content }}
</main>
