<div class="layout-sidebar-second toggled" id="collapseExample">
  <div>
    Drag and Drop elements to the page.
  </div>
  <br>
  <br>



  <div class="">
    <h5 class="facet-toggle collapsed" data-target="#facet-dropdown-button-test1" data-toggle="collapse" aria-controls="facet-dropdown-button" aria-expanded="false">Profiles</h5>
    <div id="facet-dropdown-button-test1" aria-expanded="false" class="collapse">
      <a href="/admin/config/people/profiles/types" target="_blank" class="add-button btn btn-block btn-sm btn-secondary">Add Profiles</a>
      <div class="card">
        <div id="drag3" class="draggable">
          <div class="menu-content">
            <div class="card-header">Custom Profile 1</div>
            <div class="card-block">
              <div class="card-text">Description of Custom Profile 1</div>
              <a href="/admin/config/people/profiles/types/manage/crm_indiv/fields" target="_blank" class="card-link">Manage Fields</a>
            </div>
          </div>
          <div class="page-content">
            <form class="form-inline card-header">
              <input type="text" disabled="" class="form-control mb-2 mr-sm-2 mb-sm-0" name="card-title" value="Custom Profile 1">
              <label class="mr-sm-2 display-select" for="inlineFormCustomSelect">Display</label>
              <select class="display-select custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"><option selected="" value="1">Default</option><option value="2">Teaser</option><option value="3">Dashboard</option></select>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="drag4" class="draggable">
          <div class="menu-content">
            <div class="card-header">Custom Profile 2</div>
            <div class="card-block">
              <div class="card-text">Description of Custom Profile 2</div>
              <a href="/admin/config/people/profiles/types/manage/crm_indiv/fields" target="_blank" class="card-link">Manage Fields</a>
            </div>
          </div>
          <div class="page-content">
            <form class="form-inline card-header">
              <input type="text" disabled="" class="form-control mb-2 mr-sm-2 mb-sm-0" name="card-title" value="Custom Profile 2">
              <label class="mr-sm-2 display-select" for="inlineFormCustomSelect">Display</label>
              <select class="display-select custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"><option selected="" value="1">Default</option><option value="2">Teaser</option><option value="3">Dashboard</option></select>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="drag5" class="draggable">
          <div class="menu-content">
            <div class="card-header">Custom Profile 3</div>
            <div class="card-block">
              <div class="card-text">Description of Custom Profile 3</div>
              <a href="/admin/config/people/profiles/types/manage/crm_indiv/fields" target="_blank" class="card-link">Manage Fields</a>
            </div>
          </div>
          <div class="page-content">
            <form class="form-inline card-header">
              <input type="text" disabled="" class="form-control mb-2 mr-sm-2 mb-sm-0" name="card-title" value="Custom Profile 3">
              <label class="mr-sm-2 display-select" for="inlineFormCustomSelect">Display</label>
              <select class="display-select custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"><option selected="" value="1">Default</option><option value="2">Teaser</option><option value="3">Dashboard</option></select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="">
    <h5 class="facet-toggle collapsed" data-target="#facet-dropdown-button-test2" data-toggle="collapse" aria-controls="facet-dropdown-button" aria-expanded="false">Views</h5>
    <div id="facet-dropdown-button-test2" aria-expanded="false" class="collapse">
      <div class="card">
        <div id="drag6" class="draggable">
          <div class="menu-content">
            <div class="card-header">Custom View 1</div>
            <div class="card-block">Description of Custom View 1</div>
          </div>
          <div class="page-content">
            <form class="form-inline card-header">
              <input type="text" disabled="" class="form-control mb-2 mr-sm-2 mb-sm-0" name="card-title" value="Custom View 1">
              <label class="mr-sm-2 display-select" for="inlineFormCustomSelect">Display</label>
              <select class="display-select custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"><option selected="" value="1">Default</option><option value="2">Teaser</option><option value="3">Dashboard</option></select>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="drag7" class="draggable">
          <div class="menu-content">
            <div class="card-header">Custom View 2</div>
            <div class="card-block">Description of Custom View 2</div>
          </div>
          <div class="page-content">
            <form class="form-inline card-header">
              <input type="text" disabled="" class="form-control mb-2 mr-sm-2 mb-sm-0" name="card-title" value="Custom View 2">
              <label class="mr-sm-2 display-select" for="inlineFormCustomSelect">Display</label>
              <select class="display-select custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"><option selected="" value="1">Default</option><option value="2">Teaser</option><option value="3">Dashboard</option></select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="btn btn-primary">Exit Manage Mode</a>
</div>



